<mat-toolbar class="list">
  <span>URLs</span>
</mat-toolbar>

<mat-card *ngIf="!(urlReductions.length > 0)" class="warning">
  <mat-card-subtitle>No URLs at the moment!</mat-card-subtitle>
</mat-card>

<mat-table #table [dataSource]="urlReductions" *ngIf="urlReductions.length > 0">
  <ng-container matColumnDef="shortUrl">
    <mat-header-cell *matHeaderCellDef> Short URL </mat-header-cell>
    <mat-cell *matCellDef="let urlReduction">
      <a href="{{ appUrl }}{{ urlReduction.token }}" target="_blank">
        {{ appUrl }}{{ urlReduction.token }}
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
    <mat-cell *matCellDef="let urlReduction"> {{ urlReduction.url }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
