<mat-toolbar class="list">
  <span>URLs</span>
</mat-toolbar>

<mat-table #table [dataSource]="urlReductions">
  <ng-container matColumnDef="shortUrl">
    <mat-header-cell *matHeaderCellDef> Short URL </mat-header-cell>
    <mat-cell *matCellDef="let urlReduction"> {{ appUrl }}{{ urlReduction.token }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
    <mat-cell *matCellDef="let urlReduction"> {{ urlReduction.url }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
