<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"
          novalidate autocomplete="off" spellcheck="false">
      <mat-form-field class="full-width">
        <input matInput formControlName="url" placeholder="URL">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="token" placeholder="Token">
      </mat-form-field>

      <button type="submit" color="primary" mat-raised-button
              [disabled]="form.pristine || !form.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
